.hero {
  height: 400px;
  background: linear-gradient(-180deg, transparent , transparent),
    url(../../imgs/O.png);
  background-size: 100%;
  background-position: bottom;
  /* background-repeat: no-repeat; */
}

.hero .login {
  background: white;
  font-weight: bolder !important;
}

.hero .cadastro {
  background: #ff0303;
  border-color: #ff0303;
  font-weight: bolder !important;
}

.datas {
  margin-top: 12svh;
}

@media (max-width: 690px) {
  .hero .title {
    display: none;
  }

  .w-sm-100 {
    width: 100%;
  }

  .datas {
    margin-top: 160px;
  }

  .hero {
    height: 620px;
    background: url(../../imgs/banner-mobile.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: red !important;
    /* background-repeat: no-repeat; */
  }
}

.logged .btn {
  border: 2px solid red!important;
}

.bg-danger, .btn-danger, .btn-danger:hover, .btn-danger:focus-within, .bg-danger:hover, .bg-danger:focus-within {
  background: red!important;
}

.linha {
  background: red;
  width: 3rem;
  height: .2rem;
}


.div-bottom {
  position: fixed;
  transition: all .3s ease;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  padding: 1rem;
  /* border-top: 2px solid #d9d9d9; */
  box-shadow: -9px 1px 9px #ffdede;
  transition: transform 0.3s ease;
}

.hide-animation {
  transform: translateY(100%);
}

.final-p {

  border-top: 2px solid #000 !important;

}
