.hero {
  height: 400px;
  background: linear-gradient(-180deg, transparent , transparent),
    url(../../imgs/O.png);
  background-size: 100%;
  background-position: bottom;
  /* background-repeat: no-repeat; */
}

.hero .login {
  background: white;
  font-weight: bolder !important;
}

.hero .cadastro {
  background: #ff0303;
  border-color: #ff0303;
  font-weight: bolder !important;
}

.datas {
  margin-top: 12svh;
}

@media (max-width: 690px) {
  .hero .title {
    display: none;
  }

  .datas {
    margin-top: 160px;
  }

  .hero {
    height: 620px;
    background: url(../../imgs/banner-mobile.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: red !important;
    /* background-repeat: no-repeat; */
  }
}

.logged .btn {
  border: 2px solid red!important;
}